<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.horin.shardingsphere.learning.health.repository.HealthTaskRepository">
  <insert id="addEntity" parameterType="com.horin.shardingsphere.learning.health.entity.HealthTask">
    INSERT INTO health_task(record_id, user_id, task_name) VALUES (#{recordId}, #{userId}, #{taskName})
  </insert>
</mapper>